.loader-wrapper {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
}

.loader {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #282828;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.1),
    3px 3px 3px rgba(0, 0, 0, 0.4),
    inset -1px -1px 2px rgba(255, 255, 255, 0.2),
    inset 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.loader:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  z-index: 10;
  background: #212121;
  border-radius: 50%;
  border: 1px solid #292929;
  box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.2),
    inset 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(
    -225deg,
    #ff7402 0%,
    #ffe700 50%,
    #fff55e 100%
  );
  filter: blur(4px);
  z-index: -1;
  animation: animate 0.5s linear infinite, hue 3s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hue {
  0% {
    filter: hue-rotate(0deg) blur(8px);
  }
  100% {
    filter: hue-rotate(360deg) blur(8px);
  }
}
